<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= user.username %></title>
  </head>
  <body>
    <h2>
      Username:
      <span style="color: red; text-decoration: underline"
        ><%= user.username %></span
      >
    </h2>
    <h2>Age : <span style="color: blue"><%= user.age %></span></h2>
    <a href="/users/<%= user._id %>/edit"><button>edit</button></a>
    <form
      style="display: inline-block"
      action="/users/<%= user._id %>?_method=DELETE"
      method="POST"
    >
      <button>delete</button>
    </form>
    <a href="/users"><button>back</button></a>
  </body>
</html>
